body {
    font-family: "Poppins", sans-serif;
}

.corner-container {
    padding: 0 1rem;
}

.leaderboard-list {
    list-style: none;
    font-size: 4rem;
    padding: 1rem 4rem 1rem 4rem;
}

.leaderboard-child {
    flex-basis: 6rem;
}

#time-and-score {
    display: flex;
    justify-content: space-between;
}

#start-container {
    height: 800px;
}

#start-btn {
    display: block;
    margin: auto;
    width: 400px;
    height: 200px;
    position: relative;
    top: 50%;
    font-size: xx-large;
    border-radius: 4%;
}

#question-container {
    display: block;
    width: 50%;
    margin: auto;
}

#question-container h2 {
    text-align: center;
    padding-bottom: 5rem;
}

#question-container p {
    margin-top: 10rem;
    font-size: larger;
    cursor: pointer;
}

#question-container p:hover {
    color: rgba(0, 0, 0, 0.377);
}

#final-score {
    width: 50%;
    height: 400px;
    display: block;
    margin: auto;
    text-align: center;
}

#final-score h2 {
    position: relative;
    top: 50%;
}

#container input {
    display: block;
    margin: auto;
}

#container p {
    text-align: center;
}

#leaderboard-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}
